@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


html, body {
	padding: 0;
	margin: 0;
}

html {
	min-height: 100%;
	font-size: 18px;
	box-sizing:border-box;
}

body {
	width: 100%;
	min-width: 320px;
	line-height: 22px;
	-webkit-font-smoothing:antialiased;
	scroll-behavior: smooth;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: #ffffff;
	overflow-x: hidden;
}


*, *:before, *:after {
	box-sizing: inherit;
}

*:focus {
	outline: none;
}

audio,canvas,iframe,img,svg,video {vertical-align: middle;}

textarea {resize: none;outline: none;
}

input, button {outline: none;}
button:focus {outline: none;}


img {
	display: block;
}

input {
	&::-ms-clear {
		display: none;
	}
}

h1, h2, h3, h4, h5, h6, ul, li {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}


img {
	image-rendering: -webkit-optimize-contrast;
}


main {
	padding-top: 80px;
	padding-bottom: 80px;
}

.container {
	width: 100%;
	max-width: 1400px;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: auto;
	margin-right: auto;
}


.input {

	&__field {
		width: 100%;
		height: 50px;
		border: 1px solid #ddd;
		padding: 20px;
		border-radius: 4px;
		transition: border-color 0.3s ease;

		&:focus {
			border-color: $dark;
		}
	}
}

.breadcrumbs {
	margin-top: 50px;
	margin-bottom: 40px;
}


.icon {
	transition: fill 0.3s ease;
}

.text-center {
	text-align: center;
}
